/* GLOBAL STYLES (?) */
body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
button {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.btn {
    margin: auto;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
}

h1, h2{
    margin: auto;
    padding: 50px;
}

.navbar {
    padding: 20px;
    display: flex
}

.navbar-nav {
    margin: auto;
    display: flex;
}
.navbar-brand {
    padding-left: 15px;
    display: block;
    margin: auto;
}
.nav-item {
    padding-left: 15px;
}

.container-fluid {
    padding: 0;
}

footer {
    color: white;
    padding: 30px 0px 20px 0px;
    font-size: 0.8rem;
}

footer .col {
    margin: auto;
    display: inline-block;
}

/* 
.slogo {
    color: #3D9AC6;
} */

.slogo img {
    width: 50%;
    height: auto;
}


/* INDEX.HTML */

.main-heading {
    background-color: #6AB443;
    min-width: 100%;
    padding: 40px;
}

.secondary-heading {
    color: white;
    min-width: 100%;
    padding: 50px;
    background-image: url("/images/heading-imgs/abandoned-forest-industry-nature-34950.jpg");
    background-size: cover;
    background-position: center;
}
.logo-img {
    width: 200px;
    display: inline-flex;
}
.carousel {
    width: 50%;
    margin: auto;
    display: block;
    padding: 30px;
}

.intro-content {
    margin: auto;
    padding: 40px;
    display: block;
    font-size: 1rem;
    color: white;
    background-image: url('/images/heading-imgs/environment-forest-grass-leaves-142497.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-content h1 {
    padding: 30px;
    font-size: 68px;
    font-weight: 800;
    text-shadow: 2px 2px 4px black;
}

.intro-content .row .col .card {
    padding: 40px;
}

.secondary-content {
    color: white;
    background-color: skyblue;
    padding: 60px;
    margin: auto;
    display: block;
}
.secondary-content .about-link {
    padding: 20px;
}
.secondary-content a {
    width: 200px;
    height: 50px;
    line-height: 35px;
    margin: auto;
}

.choose {
    color: white;
    padding: 50px;
    margin: auto;
    display: block;
    background-color: #0E8141;
}
.choose a{
    width: 200px;
    height: 50px;
    line-height: 35px;
    margin: auto;
}
.small-gallery {
    background-color: skyblue;
}

.imgGrid {
    padding: 40px;
    max-width: 100%;
    margin: auto;
    display: inline-flex;
}
/* CLASSES.HTML */

.schedule .col {
    padding: 30px;
}

.classes-container {
    padding: 30px;

}

.classes-container .col {
    padding-bottom: 30px;
}

.card {
    margin: auto;
    background: #67B345;
    border-radius: 50%;
}

.c-question {
    color: white;
    background-color: #6AB443;
    padding: 30px;
}

/* ABOUT.HTML */

.about-container {
    padding: 30px;

}

.about-container h3 {

    font-size: 1.5rem;
}

.about-container p {
    text-align: left;
    font-size: 1rem;
}

.form-section {
    padding: 30px;
    margin: 0px 300px 0px 380px;
}